@font-face {
	font-family: gteestiprodisplay;
	font-display: swap;
	src: url("../fonts/gteestiprodisplay-bold.woff") format("woff"), url("../fonts/gteestiprodisplay-bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: gteestiprodisplay;
	font-display: swap;
	src: url("../fonts/gteestiprodisplay-regular.woff") format("woff"), url("../fonts/gteestiprodisplay-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gteestiprodisplay;
	font-display: swap;
	src: url("../fonts/gteestiprodisplay_medium.woff") format("woff"), url("../fonts/gteestiprodisplay_medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: gteestiprodisplay;
	font-display: swap;
	src: url("../fonts/gteestiprodisplay-thin.woff") format("woff"), url("../fonts/gteestiprodisplay-thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gteestiprodisplay;
	font-display: swap;
	src: url("../fonts/gteestiprodisplay-ultrabold.woff") format("woff"), url("../fonts/gteestiprodisplay-ultrabold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: SFProDisplay;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-Bold.woff") format("woff"), url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: SFProDisplay;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-Regular.woff") format("woff"), url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SFUIDisplay;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-bold.woff") format("woff"), url("../fonts/SFUIDisplay-bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: SFUIDisplay;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-regular.woff") format("woff"), url("../fonts/SFUIDisplay-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
